body{
    background: #f7e9e9;
    width: auto;
    height: auto;
    text-align: center;
    padding: 0px;
    padding-top: 2%;
}
#topHeader {
    background: #892525;
    height: 30%;
    width: 60%;
    padding-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
}
    #topHeader #name {
        font-size: 500%;
        color: #ffffff;
    }

.tableDays {
    width: 80%;
    margin: auto;
    font-size: 200%;
    border: 1px solid black;
    border-collapse: collapse;
    
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

    .tableDays th {
        text-transform: uppercase;
        color: black;
        vertical-align: middle;
        text-align: center;
        border: 1px solid #892525;
    }

    .tableDays td {
        width: 14%;
        font-size:10px;
        color: black;
        vertical-align: middle;
        height: 700px;
        border: 1px solid #892525;
    }
.login{
    background-color: #d4baba;
    padding-bottom:5px;
}

h1 {
    background: #892525;
    padding-top: 3%;
    padding-bottom: 3%;
    color: aliceblue;
}

hr {
    margin-top:0px;
    border-top: 1px solid #892525;
}


